/*1462215542,*/

._2n_1{position:relative}._4-ft{padding:32px 24px;position:relative}._4-fu{position:absolute;right:12px;top:12px}
.sp_g8ndESN6Hvp_2x{background-image:url(/rsrc.php/v2/yG/r/aY7E4wRTaeA.png);background-size:16px 57px;background-repeat:no-repeat;display:inline-block;height:7px;width:10px}.sp_g8ndESN6Hvp_2x.sx_d31c0c{width:9px;height:9px;background-position:0 -47px}.sp_g8ndESN6Hvp_2x.sx_ca6135{background-position:0 -39px}.sp_g8ndESN6Hvp_2x.sx_fba653{background-position:0 -31px}.sp_g8ndESN6Hvp_2x.sx_d6eea7{width:15px;height:15px;background-position:0 0}.sp_g8ndESN6Hvp_2x.sx_a8b5a8{height:14px;background-position:0 -16px}

#bootloader_9n3MA{height:42px;}.bootloader_9n3MA{display:block!important;}